$theme-colors: (
        "azzure": #379392
);

@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~croppie/croppie.css';
@import '~inputmask/css/inputmask.css';
@import '~toastr/toastr';

.breadcrumb {
  padding: 5px;
  margin: 0;
  background: none;
  font-size: 0.8rem;
}

.form-control.is-invalid {
  background: none;
  padding-right: 12px;
}

.btn[disabled] {
  cursor: initial;
}

.btn-options {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  &:hover {
    background-color: $gray-200;
    border: 1px solid $gray-400;
  }
}

html, body.client {
  height: 100%;
}

body.client {
  display: flex;
  flex-direction: column;

  main#app {
    flex: 1 0 auto;
  }

  footer.main-footer {
    flex-shrink: 0;
  }
}

.mw-auto {
  min-width: auto;
}

label {
  cursor: pointer;

  &.required {
    position: relative;
    padding-right: 10px;

    &:after {
      content: '*';
      color: red;
      position: absolute;
      top: 0;
      right: 2px;
    }
  }
}

legend {
  font-size: 1.2rem;
}

.cursor-pointer {
  cursor: pointer;
}
