<template>
    <div class="btn-group" role="group">
        <label v-for="(item, index) in optionsArray" :key="index" class="btn" :class="{ 'btn-primary': index == active, 'btn-outline-primary': index != active }">
            {{ item }}
            <input type="radio" :name="name" :value="index" @change="setActive" :checked="index == active" class="d-none">
        </label>
    </div>
</template>

<script>
    export default {
        props: {
            options: {
                required: true,
                type: String
            },
            name: {
                required: true,
                type: String
            },
            checked: String
        },
        data: function () {
            return {
                active: this.checked
            }
        },
        computed: {
            optionsArray: function () {
                return JSON.parse(this.options);
            }
        },
        methods: {
            setActive: function (event) {
                this.active = event.target.value;
            }
        }
    }
</script>