<template>
    <section>
        <section class="img-container" :class="{'d-none': imageSelected}">
            <header class="text-right">
                <i v-if="isDeletable" class="fa fa-close text-danger cursor-pointer" @click="setDeleted"></i>
            </header>
            <label :class="{required: required}">
                <img :src="initialImg" alt="Image" :title="title" width="100" height="100" id="default_logo">
                <input type="file" class="d-none" @change="initCrop" accept="image/all">
            </label>
        </section>
        <div :class="{'d-none': !imageSelected}">
            <img id="crop_demo">
            <div class="text-right mb-1 mx-auto" style="width: 300px">
                <button type="button" class="btn btn-danger" @click="resetCrop">
                    <i class="fa fa-close"></i>
                </button>
                <button type="button" class="btn btn-success" @click="submitCrop">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
        <input v-if="finalBlob" type="hidden" :name="name" :value="finalBlob">
    </section>
</template>

<script>
    export default {
        props: {
            required: Boolean,
            name: String,
            old: String,
            initial: {
                type: String,
                default: null
            },
            title: String,
            deletable: Boolean
        },
        data: function () {
            return {
                imageSelected: false,
                CROP: null,
                finalBlob: this.old.length ? this.old : null,
                initialImg: this.old.length ? this.old : this.initial ? this.initial : '/img/'+ this.name +'_default.png',
                isDeletable: this.deletable
            }
        },
        methods: {
            initCrop: function (event) {
                this.isDeletable = false;
                const READER = new FileReader();
                READER.onload = () => {
                    this.imageSelected = true;
                    this.CROP = new Croppie(this.$el.querySelector('#crop_demo'), {
                        viewport: {
                            width: 100,
                            height: 100,
                            type: 'round'
                        },
                        boundary: {
                            width: 300,
                            height: 250
                        },
                    });

                    this.CROP.bind({
                        url: READER.result,
                    });
                };

                READER.readAsDataURL(event.target.files[0]);
            },
            submitCrop: function () {
                this.CROP.result('base64').then((blob) => {
                    this.imageSelected = false;
                    this.$el.querySelector('#default_logo').src = blob;
                    this.finalBlob = blob;
                    this.CROP.destroy();
                    this.CROP = null;
                });
            },
            resetCrop: function () {
                this.imageSelected = false;
                this.finalBlob = null;
                this.CROP.destroy();
                this.CROP = null;
            },
            setDeleted: function () {
                this.finalBlob = 'DELETE';
                this.imageSelected = false;
                this.isDeletable = false;
                this.initialImg = '/img/'+ this.name +'_default.png';
            }
        }
    }
</script>
<style scoped>
    .img-container {
        width: 100px;
    }
</style>