<template>
    <div>
        <ul class="list-unstyled">
            <li v-for="offer of offers" :key="offer.id" class="border border-secondary my-2 py-1 px-3">
                <div class="row">
                    <div class="col-lg-6">
                        <img :src="offer.employer.employer_details.logo" alt="logo" width="100" height="100" class="float-left mr-2">
                        <h5>
                            <a :href="'/offer/' + offer.id" class="text-dark text-decoration-none d-block">{{ offer.title }}</a>
                        </h5>
                        <a :href="'/employer/' + offer.employer.employer_details.id" target="_blank">{{ offer.employer.employer_details.name }}</a>,
                        <a :href="'/sphere/' + offer.activity_sphere.id">
                            <small>
                                <i>{{ offer.activity_sphere.title }}</i>
                            </small>
                        </a>
                        <p class="mb-0">
                            <small>{{ offer.location }}</small>
                        </p>
                    </div>
                    <div class="col-lg-3 align-self-center">
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-door-open"></i>
                                {{ offer.opening_date }}
                            </li>
                            <li>
                                <i class="fas fa-door-closed"></i>
                                {{ offer.deadline }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 align-self-center text-right">
                        <a :href="'/offer/' + offer.id" class="btn btn-outline-azzure">
                            դիտել
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: {
            search : Object
        },
        data() {
            return {
                offers:[]
            }
        },
        created() {
            this.getData();
        },
        methods: {
            getData() {
                axios.get('/api/job-offers' + this.getSearchTerm())
                    .then((response) => {
                        this.offers = response.data.offers;
                    });
            },
            getSearchTerm() {
                let term = [];

                for (let key in this.search) {
                    if (!this.search[key]) {
                        continue;
                    }

                    term.push(key + '=' + this.search[key]);
                }

                if (!term.length) {
                    return '';
                }

                return '?' + term.join('&');
            }
        }
    }
</script>