<template>
    <section>
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        id="other_country"
                        v-model="otherCountryModel"
                        :checked="otherCountryModel"
                        name="othercountry" value="1"
                        @change="provinceModel = '0'"
                >
                <label class="custom-control-label" for="other_country">Այլ երկիր</label>
            </div>
        </div>
        <div class="form-group">
            <select name="province" class="form-control" v-model="provinceModel" @change="provinceChangeHandler" :disabled="otherCountryModel">
                <option value="0">-- մարզ --</option>
                <option v-for="province of provinces" :key="province.id" :value="province.id">{{ province.name }}</option>
            </select>
        </div>
        <div v-if="provinceModel !== '0'" class="form-group">
            <select name="community" class="form-control" v-model="communityModel">
                <option value="0">-- բնակվայր --</option>
                <option v-for="community of communities" :key="community.id" :value="community.id">{{ community.name }}</option>
            </select>
        </div>
    </section>
</template>

<script>
    export default {
        props: {
            province: String,
            community: String,
            othercountry: Boolean
        },
        data() {
            return {
                provinceModel: this.province,
                communityModel: this.community,
                otherCountryModel: this.othercountry,
                provinces: [],
                communities: []
            }
        },
        created() {
            axios
                .get(`/api/places/provinces`)
                .then(({data}) => {
                    this.provinces = data;
                    this.getCommunities();
                })
        },
        methods: {
            provinceChangeHandler() {
                this.communityModel = '0';
                this.getCommunities();
            },
            getCommunities() {
                if (this.provinceModel === '0') return false;

                axios
                    .get(`/api/places/communities/${this.provinceModel}`)
                    .then(({data}) => {
                        this.communities = data;
                    })
            }
        }
    }
</script>