<template>
    <section>
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="other_country" v-model="otherCountry" :checked="otherCountry">
                <label class="custom-control-label" for="other_country">Այլ երկիր</label>
            </div>
        </div>
        <section v-if="!otherCountry">
                <div class="form-group">
                    <label for="place_select_province">{{ places.labels.province }}</label>
                    <select id="place_select_province" class="form-control" v-model="selected.province" @change="getByProvince">
                        <option v-for="province of places.provinces" :key="province.id" :value="province.id">{{ province.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="place_select_region">{{ places.labels.region }}</label>
                    <select id="place_select_region" class="form-control" v-model="selected.region" @change="getByRegion">
                        <option v-for="region of places.regions" :key="region.id" :value="region.id">{{ region.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="place_select_community">{{ places.labels.community }}</label>
                    <select id="place_select_community" class="form-control" v-model="selected.community" :name="inputName">
                        <option v-for="community of places.communities" :key="community.id" :value="community.id">{{ community.name }}</option>
                    </select>
                </div>
        </section>
        <div class="form-group">
            <label for="address" :class="{ required: otherCountry }">Հասցե</label>
            <input type="text" id="address" class="form-control" name="address" :value="address">
        </div>
    </section>
</template>

<script>
    export default {
        props: {
            inputName: {
                type: String,
                default: 'community_id'
            },
            old: String,
            address: String,
            outgoing: Boolean
        },
        data() {
            return {
                places: {
                    labels: {
                        province: '',
                        region: '',
                        community: ''
                    },
                    provinces: [],
                    regions: [],
                    communities: []
                },
                selected: {
                    province: null,
                    region: null,
                    community: null
                },
                otherCountry: this.outgoing
            }
        },
        created() {
            if (!this.old.length) {
                this.getDefaults();
            } else {
                this.getByCommunity()
            }
        },
        methods: {
            getDefaults() {
                axios
                    .get('/api/places')
                    .then(({data}) => {
                        this.places = data;
                        this.selected = {
                            province: data.provinces[0].id,
                            region: data.regions[0].id,
                            community: data.communities[0].id
                        }
                    })
            },
            getByProvince() {
                this.places.regions = this.places.communities = [];
                axios
                    .get(`/api/places/province/${this.selected.province}`)
                    .then(({data}) => {
                        this.places.regions = data.regions;
                        this.places.communities = data.communities;

                        this.selected.region = data.regions[0].id;
                        this.selected.community = data.communities[0].id;
                    })
            },
            getByRegion() {
                this.places.communities = [];
                axios
                    .get(`/api/places/region/${this.selected.region}`)
                    .then(({data}) => {
                        this.places.communities = data.communities;

                        this.selected.community = data.communities[0].id;
                    })
            },
            getByCommunity() {
                axios
                    .get(`/api/places/community/${this.old}`)
                    .then(({data}) => {
                        this.places = data.places;
                        this.selected = data.selected;
                    })
            }
        }
    }
</script>